/*
Main - #5ca5dc
Dark - #0a3553
Light - #9bd4ff
*/


/* Fonts */
@font-face {
    font-family: Aldo;
    src: url(../fonts/Main.ttf);
}



/* Body */
body{
    color: #0a3553;
    background-color: #9bd4ff;
}
.body{
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.center{
    text-align: center;
    align-content: center;
}
.body h1{
    font-size: 36pt;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
}
.body h2{
    font-size: 24pt;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
}
.body h3{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.body p{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}
.body details{
    color: #0a3553;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    padding: 10px;
    border: 2px solid #0a3553;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.body details img{
    width: 100%;
    margin-top: 10px;
}
.body details a:hover.link{
    color: #5ca5dc;
}
.body details iframe{
    width: 100%;
    height: 93%;
    margin-top: 10px;
}
.body details summary{
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    font-size: 20pt;
    padding: 10px;
    border-radius: 5px;
    background-color: #9bd4ff;
}
.body details summary:hover{
    cursor: pointer;
}
.box{
    min-height: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #0a3553;
    border-radius: 10px;
}
.box p{
    font-size: 12pt;
}
.box iframe{
    width: 350px;
    height: 197px;
    border: 5px solid #5ca5dc;
    display: block;
    margin: 0 auto;
}



/* Buttons */
.body a.link{
    color: #0a3553;
    text-decoration: underline;
}
.body a:hover.link{
    color: #ffffff;
}
.box a.link{
    color: #0a3553;
    text-decoration: underline;
}
.box a:hover.link{
    color: #5ca5dc;
}
.box a.title{
    color: #0a3553;
    text-decoration: none;
}
.box a:hover.title{
    color: #5ca5dc;
}
.body a.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16pt;
    border-radius: 5px;
    color: #ffffff;
    background-color: #0a3553;
    border: 2px solid #0a3553;
}
.body a:hover.button{
    color: #0a3553;
    background-color: #5ca5dc;
}
.body ul{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.body li{
    padding-bottom: 30px;
}



/* Navbar */
.navbar{
    overflow: hidden;
    background-color: #0a3553;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    border-radius: 10px;

}
.navbar a{
    float: left;
    font-size: 16pt;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 5px solid #0a3553;
    border-bottom: 5px solid #0a3553;
}
.navbar a.active{
    border-bottom: 5px solid #5ca5dc;
}
.navbar a:hover{
    color: #9bd4ff;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16pt;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 12.6px 16px;
    background-color: #0a3553;
    cursor: pointer;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    border-top: 5px solid #0a3553;
    border-bottom: 5px solid #0a3553;
}
.dropdown .dropbtn:hover{
    color: #9bd4ff;
}
.dropdown .dropbtn i{
    color: #ffffff;
    padding-left: 10px;
}
.dropdown .dropbtn:hover i{
    color: #9bd4ff;
}
.dropdown .dropbtn.active{
    border-bottom: 5px solid #5ca5dc;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #0a3553;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.2px;
}
.dropdown-content a{
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-left: 5px solid #0a3553;
    border-top: none;
    border-bottom: none;
}
.dropdown-content a:hover{
    color: #9bd4ff;
    border-top: none;
    border-bottom: none;
}
.dropdown-content a.active{
    border-left: 5px solid #5ca5dc;
    border-top: none;
    border-bottom: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}