/*
Main - #5ca5dc
Dark - #0a3553
Light - #9bd4ff
*/


/* Fonts */
@font-face {
    font-family: Aldo;
    src: url(../fonts/Main.ttf);
}



/* Body */
body{
    color: #0a3553;
    background-color: #9bd4ff;
}
.body{
    padding-top: 20px;
}
.body h1{
    font-size: 36pt;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.body h1.center{
    text-align: center;
}
.body h2{
    font-size: 20pt;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.body h2.center{
    text-align: center;
}
.body h3{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.body h3.center{
    text-align: center;
}
.body p{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.body p.center{
    text-align: center;
}



/* Navbar */
.topnav{
    background-color: #0a3553;
    overflow: hidden;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.topnav a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16pt;
    border: 2px solid #0a3553;
}
.topnav a:hover{
    background-color: #9bd4ff;
    color: #0a3553;
    border: 2px solid #0a3553;
}
.topnav a:hover.active{
    background-color: #5ca5dc;
    color: #0a3553;
    border: 2px solid #0a3553;
}
.topnav a.active{
    background-color: #5ca5dc;
    color: #0a3553;
    border: 2px solid #5ca5dc;
}
