@font-face {
    font-family: '8bit';
    src: url(./Minecraft.ttf);
}
@font-face {
    font-family: 'Aldo';
    src: url(../fonts/Main.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: '8bit', Arial, Helvetica, sans-serif;
}
body{
    background-color: #9bd4ff;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.all {
    margin: 0 auto;
    width: 504px;
    padding-top: 100px;
    overflow: hidden;
}
.top{
    padding-top: 10px;
    text-align: center;
    width: 500px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: #fff;
}

.bottom{
    text-align: center;
    width: 500px;
    padding-top: 10px;
}
#button{
    width: 504px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    border: 2px solid black;
}
#button:hover{
    background-color: #ccc;
    cursor: pointer;
}
#game{
    width: 500px;
    height: 200px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #fff;
}
#character{
    width: 20px;
    height: 50px;
    background-image: url(https://i.imgur.com/N0i2j2R.png);
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;background-image: url(https://i.imgur.com/N0i2j2R.png);}
    30%{top: 100px;background-image: url(https://i.imgur.com/vXbRJ72.png);}
    70%{top: 100px;background-image: url(https://i.imgur.com/vXbRJ72.png);}
    100%{top: 150px;background-image: url(https://i.imgur.com/N0i2j2R.png);}
}
#block{
    width: 20px;
    height: 20px;
    background-image: url(https://i.imgur.com/3o2rHAK.png);
    position: relative;
    top: 130px;
    left: 480px;
    display: none;
}
@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}