@font-face {
    font-family: 'Uni';
    src: url(./fonts/Uni-Sans-Font/Uni\ Sans\ Thin.otf);
}
@font-face {
    font-family: 'Uni Heavy';
    src: url(./fonts/Uni-Sans-Font/Uni\ Sans\ Heavy.otf);
}
body{
    background-color: #5865F2;
}
.body{
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}
.center{
    text-align: center;
}
h1{
    font-size: 48px;
    font-family: 'Uni Heavy', Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Uni', Arial, Helvetica, sans-serif;
}