@font-face {
    font-family: Aldo;
    src: url(./fonts/Main.ttf);
}
body{
    color: #0a3553;
    background-color: #9bd4ff;
}
.navbar{
    overflow: hidden;
    background-color: #0a3553;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 2px solid #fff;

}
.navbar a{
    float: left;
    font-size: 16pt;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 5px solid #0a3553;
    border-bottom: 5px solid #0a3553;
}
.navbar a.active{
    color: #9bd4ff;
}
.navbar a:hover{
    border-bottom: 5px solid #5ca5dc;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16pt;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 12.6px 16px;
    background-color: #0a3553;
    cursor: pointer;
    font-family: 'Aldo', Arial, Helvetica, sans-serif;
    border-top: 5px solid #0a3553;
    border-bottom: 5px solid #0a3553;
}
.dropdown .dropbtn:hover{
    border-bottom: 5px solid #5ca5dc;
}
.dropdown .dropbtn i{
    color: #ffffff;
    padding-left: 10px;
}
.dropdown .dropbtn.active i{
    color: #9bd4ff;
}
.dropdown .dropbtn.active{
    color: #9bd4ff;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #0a3553;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.2px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}
.dropdown-content a{
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-left: 5px solid #0a3553;
    border-top: none;
    border-bottom: none;
}
.dropdown-content a:hover{
    border-left: 5px solid #5ca5dc;
    border-top: none;
    border-bottom: none;
    color: #ffffff;
}
.dropdown-content a.active{
    color: #9bd4ff;
}
.dropdown:hover .dropdown-content{
    display: block;
}